<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>klase</title>
</head>
<body>
    <div class="container">
        <h1>Korisnici sa prikazom klasa</h1>
        <hr>

        <table border="1" style="border-collapse: collapse;">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Password</th>
                <th>Privilegija</th>
                <th>Godina rodjenja</th>
                <th>Stanje</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.vrsta_korisnika }}</td>
                    <td>{{ user.godina_rodjenja }}</td>
                    <td>{{ user.stanje_na_racunu }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>